:root{
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Light-grey);
    font-family: 'Poppins', sans-serif;
}

.calculator-container{
    margin: 18px;
    max-width: 370px;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    border-radius: 15px 15px 100px 15px;
    min-height: 400px;
}

.inputs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.inputs input{
    font-weight: 900;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--Smokey-grey);
    text-align: center;
    color: var(--Off-black);
}
.labels{
    display: flex;
    justify-content: space-between;
    color: var(--Smokey-grey);
    font-weight: 400;
}

.labels label:nth-child(3){
    padding-right: 40px;
}
.labels label:nth-child(2){
    padding-left: 25px;
}
.arrow-img{
    margin: 40px 20px;
}
.arrow-img > .line{
    width: 100%;
    height: 2px;
    background-color: var(--Light-grey);
    position: relative;
}

.line > img {
    background-color: var(--Purple);
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: -22px;
    transform: scale(1.2)
}

#img-button:hover{
    background-color: var(--Off-black);
}
.date{
    margin: 15px 0;
}

.show{
    display: flex;
}
.show .title{
    margin-left: 10px;
    color: var(--Off-black);
}
.show > h1{
    font-size: 3rem;
    font-weight: 800i;
    color: var(--Purple);
}

.invalid{
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    font-weight: 400;
    color: var(--Light-red);
}

@media (min-width:790px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .calculator-container{
        min-width: 600px;
        height: 550px;
        border-radius: 15px 15px 120px 15px;
    }
    .inputs{
        justify-content: flex-start;
    }
    .inputs input{
        width: 120px;
        height: 60px;
        margin-right: 20px;
        font-size: 1.2rem;
    }
    .labels{
        justify-content: flex-start;
    }
    .labels label{
        margin-right: 80px;
    }
    .line > img{
        left: 90%;
        transform: scale(1.3);
    }
    .show > h1{
        font-size: 4rem;
    }
    .invalid{
        justify-content: flex-start;
    }
    .invalid p{
        margin-right: 60px;
    }
}